body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.flex2, .nft {
    padding: 15px;
}

header img {
    flex-basis: auto;
}

.meniu {
    position: absolute;
    right: 15px;
    align-self: center;
    top: 15px;
    margin-left: auto;
    color: black;
    cursor: pointer;
}

.bars {
    width: 25px;
    height: 5px;
    background-color: grey;
    margin: 6px 0;
    border-radius: 25px;
}

#myLinks {
    display: none;
}

nav {
    padding-top: 15px; ;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

nav a {
    color: grey;
}

nav :nth-last-child(1) {
    color: pink;
}

.p1 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 16px;
    display: flex;
    position: relative;
    padding-top: 30px;
    overflow: hidden;
}


.img1 {
    height: 300px;
    width: auto;
    position: absolute;
    top: -20px;
    right: -136px;
}

.left :nth-child(1) {
    font-size: 14px;
    color: pink; 
    padding-bottom: 15px;
}

.left :nth-child(2) {
    line-height: 1.3;
    width: 75%;
    font-size: 40px;
    font-weight: 900;
}

.left :nth-child(3) {
    color: grey;
    margin: 5px;
    width: 60%;
    line-height: 1.5;
}

.left :nth-child(4), .p2 :nth-child(1), .fontbold, .details :nth-child(1) {
    font-weight: 600;
}

.left :nth-child(4) {
    margin: 10px 0px;
    padding: 10px 23px;
    display: inline-block;
    position: relative;
    border: 4px solid transparent;
    border-radius: 16px;
    background: white;
    background-clip: padding-box;
}

.left :nth-child(4)::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(#f79533, #f37055, #ef4e7b, #a166ab);
    content: '';
    z-index: -1;
    border-radius: 16px;
}

.p2 {
    overflow: hidden;
    padding-top: 80px;
    background-image: url(assets/background.svg);
    margin-left: -8px;
    padding-left: 23px;
    padding-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.p2 :nth-child(1) {
    padding-bottom: 20px;
    font-size: 33px;
}

.img5 {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 80px 20px;
    justify-content: space-between;
}

.img5 :nth-child(n+1) {
    overflow: hidden;
    width: calc(50% - 20px);
}

.img5 :nth-child(1) {
    object-fit: cover;
    object-position: 0% 0%;
}

.img5 :nth-child(4) {
    display: none;
}
  
.p3 {
    padding: 0 15px;
    padding-bottom: 20px; 
}

.fontbold {
    padding-bottom: 20px;
    font-size: 33px;
}

.p3 .contant {
    font-size: 17px;
    line-height: 1.5;
    color: grey;
}

.nft {
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    padding-left: 15px;
}

.slider {
    width: 300px;
    text-align: center;
    overflow: hidden;
}

.slides {
    display: flex;
    overflow-x: auto;
    /* width: 100%; */
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slides > div:nth-last-child(1) {
    margin: 0;
}

.img-nft {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.img-left {
    flex-direction: column;
    display: flex;
    row-gap: 5px;
}

.img-left  :nth-child(1) {
    font-size: 10px;
    color: orange;
}

.img-left  :nth-child(2), .img-right  :nth-child(2), .content :nth-child(1), .left :nth-child(4), .p2 :nth-child(1), .fontbold, .details :nth-child(1) {
    font-weight: 600;
}

.img-left  :nth-child(3) {
    color: grey;
    font-size: 15px;
}

.img-left {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.img-right {
    flex-direction: column;
    display: flex;
    row-gap: 5px;
    align-items: flex-end;
}

.img-right  :nth-child(1) {
    font-size: 10px;
    color: grey;
}

.img-right  :nth-child(2) {
    display: flex;
    column-gap: 6px;
    align-items: center;
}

.img-right  :nth-child(3) {
    font-size: 15px;
    color: grey;
}

.p4 {
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray ;
    padding-top: 50px;
}

.p4 .left :nth-child(2),.p4 .left :nth-child(3),header img {
    width: 50%;
    margin-bottom: 10px;
}

.img2 {
    height: 80%;
    position: absolute;
    bottom: 0;
    right: -25px;
}

footer {
    padding: 50px 0px 0px 15px;
}

footer img {
    width: auto;
    margin-bottom: 20px;
}

#collection {
    color: grey;
    font-size: 15px;
    margin-bottom: 20px;
}

.socials {
    display: flex;
    column-gap: 15px;

    margin-bottom: 20px;
}

.socials img {
    height: 20px;
    width: 20px;
}

.info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 30px;
}

.details {
    display: flex;
    width: 50%;
    row-gap: 10px;
    flex-direction: column;
}

.details :nth-child(1){
    padding-bottom: 10px;
}

.content {
    line-height: 1.5;
    row-gap: 5px;
    color: grey;
}

.content a {
    color: gray;
}

.content :nth-child(1) {
    margin-bottom: 10px;
}

.copyright {
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: grey;
}

.copyright img {
    height: 20px;
    width: 20px;
    margin-bottom: 0;
}

.date {
    color: grey;
    display: none;
}

.copyright, .p4 .left :nth-child(4), .nft {
    margin-bottom: 50px;
}

@media only screen and (min-width: 1024px) {
    body {
        padding: 50px;
    }

    .flex2 {
        display: flex;
        justify-content: space-between
    }

    header img {
        height: 50px;
        width: auto;
    }
    
    .meniu {
        display: none;
    }

    #myLinks {
        display: contents;
    }

    nav {
        gap: 20px;
        flex-direction: row;
        align-self: center;
    }

    .left {
        width: 50%;
    }

    .p1 {
        align-items: center;
    }

    .img1 {
        height: auto;
        position: initial;
        width: 60%;
    }

    .left :nth-child(2) {
        width: 100%;
        font-size: 70px;
    }

    .left :nth-child(3) {
        width: 100%;
        margin: 15px 0px;
    }

    .p2 {
        border-radius: 10px;
        margin-left: 0;
        padding-left: 50px;
    }

    .p3, .nft ,footer ,.p1{
        padding-left: 0%;
    }

    .slides {
        width: 100%;
    }

    .slides > div {
        width: calc(25% - 38px);
    }

    .img5 {
        padding: 70px 0;
        flex-wrap: nowrap;  
        gap: 20px
    }

    .img5 :nth-child(n+1) {
        width: 15%;
        object-fit: contain;
        display: block;
        align-self: center;
        overflow: inherit;
    }

    .img2 {
        width: 15%;
        margin: auto;
        position: initial;
    }

    .p4 {
        display: flex;  
    }

    .p4 .left :nth-child(2) {
        width: 100%;
        font-size: 40px;
    }

    .p4 .left :nth-child(3) {
        width: 60%;
        font-size: 15px;
    }

    footer {
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .footer-left {
        width: 50%;
    }

    footer img {
        width: auto;
        height: 20px;
    }

    .info {
        width: 50%;
        flex-wrap: nowrap;
    }

    .bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 
    
    .date {
        display: block;
    }
}